<!--@subject Welcome, {{var customer.name}}! @-->





<style type="text/css">


body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }


</style>





<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">


    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">


        <tr>


            <td align="center" valign="top">


                <!-- [ header starts here] -->


                <table cellspacing="0" cellpadding="0" border="0" width="650">


                    <tr>


                        <td valign="top">


                            <a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="Magento"  style="margin-bottom:10px;" border="0"/></a></td>


                    </tr>


                </table>





                <!-- [ middle starts here] -->


                <table cellspacing="0" cellpadding="0" border="0" width="650">


                    <tr>


                        <td valign="top">


                            <p><strong>Estimad@ {{var customer.name}}</strong>,<br/>


                            Bienvenido a la Tienda de Demostración de Magento. Para ingresar cuando visite nuestro sitio sólo haga clic en <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Ingresar</a> o en <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Mi Cuenta</a> en la parte superior de cada página, e ingrese su correo y contraseña.</p>





                            <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; ">


                                Use los siguientes valores cuando se los soliciten:<br/>


                                Correo Electrónico: {{var customer.email}}<br/>


                                Contraseña: {{var customer.password}}<p>





                            <p>Cuando ingrese en su cuenta, podrá realizar lo siguiente:</p>





                            <ul>


                                <li>Proceda rápidamente ha hacer el pago cuando realize una compra</li>


                                <li> Verifique el estado de sus compras</li>


                                <li>Ver compras realizadas</li>


                                <li> Hacer cambios en la información de su cuenta</li>


                                <li>Cambiar su contraseña</li>


                                <li>Grabar direcciones alternativas (¡Para despachos a varios miembros de su familia y amigos!)</li>


                            </ul>





                            <p>Si usted tiene alguna pregunta sobre su cuenta o cualquier otra consulta, no dude en ponerse en contacto con nosotros en <a href="mailto:magento@varien.com" style="color:#1E7EC8;">dummyemail@magentocommerce.com</a> o por teléfono al (555) 555-0123.</p>


                            <p>¡Gracias Nuevamente!</p>








                        </td>


                    </tr>


                </table>





            </td>


        </tr>


    </table>


</div>


